.containerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Fredoka", sans-serif;
}

.containerForm input {
    padding: 8px;
    margin: 10px;
}

.containerForm button {
    cursor: pointer;
    padding: 8px;
}

.containerForm h2 {
    margin: 16px;
}

.spinner {
    margin-top: 250px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #84fe98;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }